<div class="mt-10 flex flex-col items-center justify-center space-y-4">
    <h1 class="text-3xl font-semibold text-center text-indigo-600">Búsqueda de Cerveza</h1>

    <form [formGroup]="form" class="w-full max-w-md">
        <mat-form-field class="w-full">
            <mat-label>Cerveza</mat-label>
            <input (input)="search($event)" matInput formControlName="beer" placeholder="Buscar una cerveza" />
        </mat-form-field>
    </form>

    <div *ngIf="loading">
        <p> Cargando... </p>
    </div>

    <app-beer-list *ngIf="beerList.length > 0 else elseBlock;" [beerList]="beerList"></app-beer-list>

    <ng-template #elseBlock>
        <p> No se han encontrado resultados para la búsqueda. </p>
    </ng-template>
</div>