<div class="mt-10 flex flex-col items-center justify-center">
    <h1>Main Component</h1>

    <form [formGroup]="form">
        <mat-form-field class="">
            <mat-label>Cerveza</mat-label>
            <input matInput formControlName="beer" placeholder="Negra" value="rubia">
        </mat-form-field>
    </form>

    <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="searchBeer()">
            Buscar cerveza
        </button>
    </div>

    <input (input)="search($event)" placeholder="Buscar cerveza">
    <ul>
        <li *ngFor="let beer of beers$ | async"> {{ beer.name }} </li>
    </ul>
</div>